{
  "extends": ["standard", "standard-jsx"],
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "babel/arrow-parens": 2,
    "arrow-parens": 0
  },
  "globals" : {
    "Studio": 1,
    "FileReader": 1,
    "alert": 1,
    "atob": 1,
    "Blob": 1,
    "saveAs": 1,
    "describe": 1,
    "it": 1,
    "beforeEach": 1,
    "__DEVELOPMENT__": 1
  }
}