@import "../../theme/common";

.treeListContainer {
  flex: 1;
  background-color: $secondaryBackgroundColor;
  display: flex;
  flex-direction: column;
  // firefox needs min-height and min-width explicitly declared to allow descendants flex items to be scrollable (overflow)
  min-height: 0;
  min-width: 0;
  height: 100%;
}

.toolbar {
  padding: 0.3rem;
}

.nodeBox {
  margin-top: 0.5rem;
  flex: 1;
}

.nodeBoxItem {
  margin-top: 0;
}

.nodeBoxItemContent {
  display: inline-block;
  outline: 1px dashed transparent;
  outline-offset: 1px;
  opacity: 1;
}

.nodeBoxItemContent.dragging,
.nodeContainer.dragging .nodeBoxItemContent {
  opacity: 0.5;
}

.nodeBoxItemContent.dragging {
  outline-color: $tertiaryBackgroundColor;
}

.nodesBox {
  flex: 1;
  height: auto;
  overflow: auto;
  position: relative;
  width: auto;
}

.nodeTitle {
  margin-right: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.nodeTitle:before {
  font-size: 1rem;
  font-family: FontAwesome;
  color: darkkhaki;
  margin-right: 0.3rem;
}

.nodeTitle:not(.collapsed):before {
  content: "\f0da";
}

.nodeTitle.collapsed:before {
  content: "\f0d7";
  color: $primarySelectionBackgroundColor;
}

.nodeTitle:hover:before {
  color: $primarySelectionBackgroundColor;
}

.nodeContainer:not(.collapsed) {
  max-height: 15999px;
  transition: 0.15s;
}

.nodeContainer {
  margin-top: 0.3rem;
}

.nodeContainer.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: 0.15s;
}

.link {
  padding: 0.2rem;
  padding-left: 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.link.active {
  background: $primarySelectionBackgroundColor;
  color: $primarySelectionColor;
}

.link:hover, .link.focused {
  background: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.link.dragging {
  background-color: inherit;
  color: inherit;
}

.entityIcon {
  margin-right: 0.3rem;
  color: #F16220;

}

.entityDefaultIcon:after {
  font-family: FontAwesome;
  content: "\f1fe";
}

.add {
  cursor: pointer;
}

.add:after {
  content: "\f067";
  font-family: FontAwesome;
  color: $secondaryColor;
  padding: 0.1rem;
  font-size: 1rem;
}

.add:hover:after {
  color: $primaryHoverBackgroundColor;
}

.help {
  cursor: pointer;
  text-decoration: none;
}

.help:after {
  content: "\f128";
  font-family: FontAwesome;
  color: $secondaryColor;
  padding: 0.1rem;
  font-size: 1rem;
  visibility: hidden;
}

.nodeBox:hover .help:after {
  visibility: visible;
}

.help:hover:after {
  color: $primaryHoverBackgroundColor;
}

.contextMenu {
  background-color: $secondaryColor;
  position: absolute;
  padding: 0.5rem;
  min-width: 9rem;
  z-index: 200;
}

.contextMenuContainer {
  position: fixed;
  z-index: 300;
}

.contextMenuContainer.nestedLevel {
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity;
  transition-delay: 0.2s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.contextButton {
  position: relative;
  color: $primaryColor;
  padding: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  @include no-select();
}

.contextButton.disabled {
  color: #7d8a98;
}

.contextButton.hasNestedLevels:after {
  font-family: FontAwesome;
  font-size: 0.9rem;
  content: "\f0da";
  position: absolute;
  right: 0;
}

.contextButton:hover:not(.disabled) {
  background-color: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.contextButton.hasNestedLevels:hover > .contextMenuContainer.nestedLevel {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.loadingDot {
  animation: blink 1s infinite;
}

.loadingDot:nth-child(2) {
  animation-delay: 250ms }

.loadingDot:nth-child(3) {
  animation-delay: 500ms
}

@keyframes blink {
  50% { color: transparent; }
}
