@import "../../theme/variables";

.treeListContainer {
  flex: 1;
  background-color: $secondaryBackgroundColor;
  display: flex;
  flex-direction: column;
}

.search {
  padding: 0.5rem;
}

.search > input {
  border: none;
  border-bottom: solid 0.2rem $secondaryColor;
  transition: border 0.3s;
  padding: 0.2rem;
}

.search > input:focus {
  border-bottom: solid 0.2rem $primarySelectionBackgroundColor;
}

.search:before {
  content: "\f002";
  margin-right: 0.3rem;
  color: $secondaryColor;
  font-family: FontAwesome;
}

.nodeBox {
  margin-top: 0.8rem;
  flex: 1;
}

.nodesBox {
  overflow: auto;
  width: auto;
  height: auto;
  flex: 1;
}

.nodeTitle {
  padding-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.nodeTitle:before {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: FontAwesome;
  color: darkkhaki;
  margin-right: 0.3rem;
}

.nodeTitle:not(.collapsed):before {
  content: "\f0da";
}

.nodeTitle.collapsed:before {
  content: "\f0d7";
  color: $primarySelectionBackgroundColor;
}

.nodeTitle:hover:before {
  color: $primarySelectionBackgroundColor;
}

.nodeContainer:not(.collapsed) {
  max-height: 999px;
  transition: 0.15s;
}

.nodeContainer.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: 0.15s;
}

.link {
  padding: 0.2rem;
  padding-left: 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.link.active {
  background: $primarySelectionBackgroundColor;
  color: $primarySelectionColor;
}

.link:hover {
  background: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.link:before {
  content: "\f1fe";
  margin-right: 0.3rem;
  color: #F16220;
  font-family: FontAwesome;
}

.add {
  cursor: pointer;
}

.add:after {
  content: "\f067";
  font-family: FontAwesome;
  color: $secondaryColor;
  padding: 0.1rem;
  font-size: 1rem;
}

.add:hover:after {
  color: $primaryHoverBackgroundColor;
}



