@import "../../theme/variables";

.treeListContainer {
  flex: 1;
  padding-top:0.5rem;
  background-color: $secondaryBackgroundColor;
}

.nodeBox {
  margin-top:0.5rem;
}

.nodeTitle {
  padding-left: 1rem;
  margin-right: 0.3rem;
  font-size: 1rem;
}

.nodeTitle:before {
  content: "\f07b";
  font-family: FontAwesome;
  color: darkkhaki;
  margin-right: 0.3rem;
}


.link {
  padding: 0.2rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.link:hover {
  background: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.link:before {
  content: "\f016";
  margin-right: 0.3rem;
  font-family: FontAwesome;
}

.add {
  cursor: pointer;
}

.add:after {
  content: "\f0fe";
  font-family: FontAwesome;
  color: $secondaryColor;
  padding: 0.1rem;
  font-size: 1rem;
}



