
@import "../../theme/common";

.entityTreeButton {
  background-color: $secondaryBackgroundColor;
  border: none;
  color: lighten($primaryColor, 10%);
  cursor: pointer;
  padding: 0.2rem;
  @include no-select();
  border: 0.1rem solid lighten($primaryColor, 70%);
  font-size: 0.75rem;
}

.entityTreeButton:hover {
  background-color: $primaryHoverColor;
}

.entityTreeButton.active {
  border: 0.1rem solid $primarySelectionBackgroundColor;
}
