@import "../../theme/variables";

.tabPane {
  background-color: $secondaryBackgroundColor
}

.tabTitles {
  border-bottom: 0.2rem $primaryHoverBackgroundColor solid;
  padding-bottom: 0.1rem;
}

.tabContainer {
  display: inline-block;
}

.tabTitle {
  display: inline-block;
  background-color: $secondaryBackgroundColor;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.tabTitle.active {
  background: $primarySelectionBackgroundColor;
  color: $primarySelectionColor;
}

.tabTitle:hover {
  background: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.tabClose {
  display: inline-block;
  margin-left: 0.3rem;
}

.tabClose:after {
  content: "\f00d";
  color: $secondaryColor;
  padding: 0.1rem;
  font-family: FontAwesome;
  font-size: 0.9rem;
}

.tabClose:hover {
  background-color: $secondaryHoverBackgroundColor;
}