@import "../../theme/variables";

.toolbar {
  background-color: $tertiaryBackgroundColor;
  color: $tertiaryColor;
  display: flex;
  //justify-content: center;
  align-items: center;
  //width: 100%;
}

:global .toolbar-button {
  padding: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:global .toolbar-button > i:nth-child(1) {
   margin-right:0.3rem;
}

:global .toolbar-button.disabled {
  color: $secondaryColor
}

:global .toolbar-button:hover:not(.disabled) {
  background: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
}

.run:before {
  content: "\f04b";
  font-family: FontAwesome;
}

.save:before {
  content: "\f0c7";
  font-family: FontAwesome;
}

.saveAll:before {
  content: "\f0c7";
  font-family: FontAwesome;
}

.spinner {
  flex: 1;
  font-size: 1.5rem;
}

.spinner > i {
}

.delete:before {
  content: "\f014";
  font-family: FontAwesome;
}