.editor {
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listContainer {
  overflow: auto;
  position: relative;
}

.listContainer > div {
  position: absolute !important;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  width: 10rem;
  height: 6.8rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
}

.active, .item:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6)
}