.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity:1;

}

.content {
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #1d1d1d;
  display: block;
  float: left;
  height: auto;
  position: fixed;
  width: auto;
  z-index: 1050;
  padding: 2rem;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}