@import "../../theme/common";

.propertiesPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $secondaryBackgroundColor;
  @include no-select();
}

.title {
  background-color: $primaryHoverBackgroundColor;
  color: $primaryHoverColor;
  min-height: 1.3rem;
  font-size: 0.9rem;
  padding: 0.3rem;
}

.propertiesContainer {
  overflow: auto;
}

:global .properties-section {
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  margin: 0.3rem 0.3rem;
  flex: 1;
}

.propertiesNodes {
  padding: 0.5em;
  overflow: auto;
  flex: 1;
  flex-wrap: wrap;
  display:flex;
}
