$primaryColor: #2f2f2f;

$primarySelectionBackgroundColor: #007ACC;
$primarySelectionColor: #FFFFFF;

$primaryHoverColor: #FFFFFF;
$primaryHoverBackgroundColor: #1C97EA;

$secondaryColor: #c6c6c6;
$secondaryBackgroundColor: #F6F6F6;

$tertiaryColor: #FFFFFF;
$tertiaryBackgroundColor: #EFEFF2;

$secondaryHoverColor: #c6c6c6;
$secondaryHoverBackgroundColor: #73a2ff;
