.treeListContainer {
  padding: 0.5em;
  flex: 1;
}

.nodeContainer {
  margin-left: 0.8em;
  margin-bottom: 0.5em;
}

.nodeTitle {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.link {
  color: darkgray;
  font-size: 0.8em;
  cursor: pointer;
}

.add {
  cursor: pointer;
}


